.contact-black {
    @extend .header;
    padding-bottom: 57px;
    &__title {
        font-size: 20px;;
        letter-spacing: .4px;
        margin: 58px 32px;
    }
    &__btn {
        line-height: 38px;
        padding: 10px 34px;
        border: 1px solid $white;
        border-radius: 18.5px;
        &:hover {
            color: $green;
            border-color: $green;
        }
    }
}