.footer {
    text-align: center;
    &__logo {
        margin: 66px 0 18px;
    }
    &__text {
        color: #81868e;
        font-size: 14px;
        margin-bottom: 38px;
    }
    .social__items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 69px;
    }
    .social__item {
        padding: 0 5px;
    }
}